@if (subsubjects && subsubjects.length > 0) {
  <ul class="list-none pl-8 mt-2">
    @for (nested of subsubjects; track nested.id) {
      <li class="mb-2">
        <div class="flex items-center space-x-2">
          <button (click)="nested.isSubSubjectsVisible = !nested.isSubSubjectsVisible" class="ml-2 text-blue-500">
            {{ nested.isSubSubjectsVisible ? '⮛' : '⮚' }}
          </button>
          <span class="text-gray-700 cursor-pointer" [routerLink]="['/surveyEdition', surveyEditionId, 'subject', nested.id]">{{ nested.title }}</span>

        </div>

        <!-- Affichage des sous-sujets si isSubSubjectsVisible est vrai -->
        @if (nested.isSubSubjectsVisible && nested.subSubjects && nested.subSubjects.length > 0) {
          <app-subject-item [surveyEditionId]="surveyEditionId" [subsubjects]="nested.subSubjects"></app-subject-item>
        }
      </li>
    }
  </ul>
} @else {
  <p class="text-red-500 text-sm italic ml-6">Les sous-titres sont introuvables.</p>
}
