<h1 class="text-3xl text-gray-800 my-7 font-medium text-center"> Survey Edition {{ surveyEdition.year }} </h1>

  <div class="flex h-screen ">
    <!-- Section de gauche -->
    <div class="flex-1 flex ">
        <div class="container mx-auto p-4">
            <h1 class="text-2xl font-bold text-blue-600 mb-6">Détails du Survey</h1>
            
            <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
              <ul class="list-none">

                <app-subject-list [surveyEditionId]="surveyEdition.id" [subjects]="surveyEdition.subjects"></app-subject-list>  
              </ul>
            </div>
          </div>
    </div>
    
    <!-- Ligne verticale -->
    <div class="w-px h-full bg-gray-300"></div>
    
    <!-- Section de droite -->
    <div class="flex-1 bg-gray-50 flex flex-col items-center justify-start">
      <!-- <app-question-list></app-question-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  
